---
# tasks file for hoplacloud.linux_motd
- name: Ensure Epel repo is present
  yum:
    name: epel-release

- name: Ensure rubygems is installed
  yum:
    name: rubygems

- name: Ensure figlet is installed
  yum:
    name: figlet

- name: Ensure lolcat is installed
  gem:
    name: lolcat
    state: latest

- name: Copy motd file
  copy:
    src: files/login-info.sh
    dest: /etc/profile.d/login-info.sh
    owner: root
    group: root
    mode: 0755
